/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    max-width: 100%;    font: inherit;    box-sizing: border-box;   vertical-align: baseline;  }

/* basic styles */

html{
    font-size: 62.5%;
}

body{
    font-family: 'Questrial', sans-serif;
    font-size: 1.6rem;
    color: silver;
    background-color: #00002f;
}

.fullwidth-shaded{
    width: 100%;
    color: #00002f;
    background-color:silver;
    padding: 2%;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

/* header */

header h1{
    font-size: 6.4rem;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

nav{
    margin-top: 1%;
    display:flex;
}

nav a.button{
    border: none;
    border-radius: 0px;
}

nav a:first-child{
    border-radius: 10px 0px 0px 10px;
}

nav a:last-child{
    border-radius: 0px 10px 10px 0px;
}

/* links */

a.button{
    display:inline-block;
    width: 20vw;
    max-width: 100px;
    text-align: center;
    padding: 0.5em;
    margin: 0;
    background-color: #000066;
    color: darkgray;
    border: 2px solid currentColor;
    border-radius: 10px;
}

a.button:visited{
    color: darkgray;
}

a.button:hover, a.button:active, a.current-page, a.current-page:visited{
    background-color: #006666;
    color: silver;
    font-weight: bold;
    letter-spacing: -1px; /* Bold Condensed */
}

/* intro */

.intro{
    display: flex;
    /*justify-content: center;*/
}

.halfbox{
    width: 50%;
    padding: 1%;
    flex-shrink: 1;
}

.intro img{
    width: 100%;
    border-radius: 25px;
}

.introduction-content-box{
    height: 100%;
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.intro h2{
    font-size: 3.2rem;
}

/* gallery */

.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-item{
    width: 23%; /* four per row */
    flex-grow: 1;
    margin: 1%;
}

.gallery-item img{
    border-radius: 10px;
    transition: opacity 1s;
}

.gallery-item h3{
    text-align: center;
}

.gallery-description{
    position: absolute;
    width: 25%;
    min-width: 200px;
    flex-shrink: 1;
    padding: 1%;
    visibility: hidden;
    transition: visibility 1s;
}

.gallery-item:hover .gallery-description+img{ /* "img with a sibling of .galley-description" */
    opacity: .2;
}

.gallery-item:hover .gallery-description{
    visibility: visible;
}

 /* footer */

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}

.linkbox{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.intro .button{
    margin: 3% 0;
}

.icon{
    height: 30px;
    width: 30px;
    margin: 0 2vw;
}

/* responsive design */

@media(max-width: 800px)
{
    header h1{
        text-align: center;
    }

    header nav{
        justify-content: center;
    }

    .gallery-item{
        width: 31%; /* three per row */
    }
}

@media(max-width: 500px)
{
    a.button{
        width: 40%;
        max-width: 40%;
        font-size: 2.4rem;
    }

    header h1{
        font-size: 3.6em;
    }

    header nav{
        width: 100%;
        flex-direction: column;
        align-items: center;       
    }

    header nav a:first-child{
        border-radius: 10px 10px 0px 0px;
    }

    header nav a:last-child{
        border-radius: 0px 0px 10px 10px;
    }

    .intro{
        flex-direction:column;
        align-items: center;
    }

    .halfbox{
        width: 90%;
    }

    .intro img{
        margin: 5% 0% 0%;
        width: 100%;
    }

    .introduction-content-box{
        padding: 0;
        align-items: center;
        margin: 5% 0%;
    }

    .gallery{
        justify-content: space-evenly;
        margin: 0% 2%;
    }

    .gallery-item{
        width: 40%; /* two per row */
        margin: 2%;
    }

    footer.fullwidth-shaded{
        margin: 5% 0% 0%;
        padding: 8% 0%;
    }
}

@media(min-width: 1400px)
{
    .intro{
        width: 1400px;
    }
}