/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    max-width: 100%;    font: inherit;    box-sizing: border-box;   vertical-align: baseline;  }

/* basic styles */

html{
    font-size: 62.5%;
}

body{
    /* add a font here */
    font-size: 1.6rem;
    color: silver;
    background-color: #00002f;
}

.fullwidth-shaded{
    width: 100%;
    color: #002f2f;
    background-color:silver;
    padding: 2%;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

/* header */

header h1{
    font-size: 6.4rem;
    font-weight: bold;
}

nav{
    margin-top: 1%;
    display:flex;
}

nav a{
    display:inline-block;
    width: 20%;
    max-width: 100px;
    text-align: center;
    padding: 0.5em;
    margin: 0;
    /*border-radius: 10px;*/
    background-color: #000066;
    color: darkgray;
}

nav a:first-child{
    border-radius: 10px 0px 0px 10px;
}

nav a:last-child{
    border-radius: 0px 10px 10px 0px;
}

nav a:visited
{
    color: darkgray;
}

nav a:hover, a:active, a.current-page, a.current-page:visited{
    background-color: #006666;
    color: silver;
    font-weight: bold;
}

/* main */

/* intro */

.intro{
    display: flex;
    justify-content: center;
}

.halfbox{
    width: 50%;
    flex-shrink: 1;
}

.intro img{
    width: 100%;
    padding: 1%;
}

.introduction-content-box{
    height:100%;
    padding-left: 10%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.intro h2{
    font-size: 3.2rem;
}

.intro a{
    display:inline-block;
    width: 20%;
    max-width: 100px;
    text-align: center;
    padding: 0.5em;
    margin: 0;
    border: 2px solid darkgray;
    border-radius: 10px;
    background-color: #000066;
    color: darkgray;
    margin: 3% 0;
}

.intro a:visited
{
    color: darkgray;
}

.intro a:hover, a:active, a.current-page, a.current-page:visited{
    background-color: #006666;
    color: silver;
    font-weight: bold;
    border-color: silver;
}

/*.intro p{
    
}*/

/* gallery */

.gallery{
    display:flex;
    flex-wrap: wrap;
    
}

.gallery-item{
    width: 25%;
    min-width: 200px;
    flex-shrink: 1;
    padding: 1%;
}

/*.gallery-item img{
    
}*/

.gallery-item h3{
    text-align: center;
}

 /* footer */

 footer{
    display:flex;
    justify-content: center;
 }

 footer div{
    margin:1%;
    text-align: center;
 }

 footer a{
    display:inline-block;
    width: 20vw;
    max-width: 100px;
    text-align: center;
    padding: 0.5em;
    margin: 0;
    border: 2px solid darkgray;
    border-radius: 10px;
    background-color: #000066;
    color: darkgray;
    margin: 3% 0;
}

footer a:visited
{
    color: darkgray;
}

footer a:hover, a:active, a.current-page, a.current-page:visited{
    background-color: #006666;
    color: silver;
    font-weight: bold;
    border-color: silver;
}

